<app-logged-navbar></app-logged-navbar>
<div *ngIf="loading">
  <div class="overlay"></div>
  <img class="position-absolute loading" src="../../assets/loading.gif" alt="">
</div>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-body">
          <img src="{{ url + 'getimageuser/' + identity.image }}" *ngIf="identity.image" width="200" />
          <div class="h5">{{ identity.nickname }}</div>
          <div class="h7 text-muted">Nombre : {{ identity.name + " " + identity.lastname }}</div>
          <div class="h7">Descripción: {{ identity.description }}</div>
        </div>
      </div>
      <div class="card">
        <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm)" class="p-3">
          <p>
            <label>¿Que estas pensando hoy?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control"
              required></textarea>
            <span *ngIf="!text.valid && text.touched">
              El texto es obligatorio
            </span>
          </p>
          <p>
            <label>Sube tu foto</label><br>
            <input type="file" placeholder="Subir imagen">
          </p>
          <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4" *ngFor="let publication of publications">
        <div>
        </div>
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <a href="#">
                  <img src="{{ url + 'getimageuser/' + publication.user.image }}" *ngIf="publication.user.image"
                    width="100" class="avatar" height="100" alt="">
                  <img src="../../assets/default-user.png" class="avatar" *ngIf="!publication.user.image" width="100"
                    height="100" alt="">
                </a>
              </div>
              <div class="ml-2">
                <div class="h5 m-0"> {{ publication.user.nickname }} </div>
                <div class="h7 text-muted">{{ publication.user.name + ' ' + publication.user.lastname }}</div>
              </div>
            </div>
            <div>
              <div class="btn btn-primary" *ngIf="publication.user._id == identity._id || imAdmin"
                (click)="deletePublication(publication._id)"><i class="fas fa-times"></i></div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
            {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }} </div>

          <p class="card-text">
            {{ publication.text }}
          </p>
        </div>
      </div>
      <button class="btn btn-success" (click)="viewMorePublications()"
        *ngIf="!noMorePublications && total > items_per_page">Ver más
        publicaciones</button>
    </div>

    <div class="col-md-4">
      <div class="card gedf-card mb-4" *ngFor="let group of groups">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="ml-2">
                <a routerLink="/group/{{ group._id }}" class="h5 m-0"> {{ group.name }} </a>
                <div class="h7 text-muted">Autor: {{ group.author.nickname }}</div>
                <p> {{ group.category }}</p>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
            {{ (group.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }} </div>

          <p class="card-text">
            {{ group.description }}
          </p>
          <p>
          </p>
        </div>
      </div>
      <a href="" routerLink="/groups/">Ver todos los grupos</a>
    </div>
  </div>
</div>
