<app-logged-navbar></app-logged-navbar>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 col-sm-3 col-md-4 col-lg-3 mb-5">
      <div class="card mb-4">
        <div class="card-body">
          <div class="text-center w-100">
            <img src="{{ url + 'getimageuser/' + identity.image }}" class="border border-radius" width="200"
              height="200" *ngIf="identity.image" />
            <img src="../../assets/default-user.png" class="border border-radius" width="200" height="200"
              *ngIf="!identity.image" />
          </div>
          <div class="h5 mt-3">{{ identity.nickname }}</div>
          <div class="text-muted mt-2">Nombre : {{ identity.name + " " + identity.lastname }}</div>
          <div class="mt-2">Edad: {{ identity.age }}</div>
          <div class="mt-2">Descripción: {{ identity.description }}</div>
          <div class="mt-2">Intereses: {{ interests }}</div>
        </div>
      </div>
      <div class="card">
        <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm)" class="p-3">
          <p>
            <label>¿Que estas pensando hoy?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control"
              required></textarea>
            <span *ngIf="!text.valid && text.touched">
              El texto es obligatorio
            </span>
          </p>
          <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
        </form>
      </div>
    </div>
    <div *ngIf="arePublications" class="col-sm-9 col-md-8 col-lg-5 m-0 p-0">
      <div class="card mb-4" *ngFor="let publication of publications">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <a routerLink="/profile/{{ publication.user._id }}">
                  <img src="{{ url + 'getimageuser/' + publication.user.image }}" *ngIf="publication.user.image"
                    width="100" class="avatar" height="100" alt="">
                  <img src="../../assets/default-user.png" *ngIf="!publication.user.image" width="100" height="100"
                    class="avatar" alt="">
                </a>
              </div>
              <div class="ml-2">
                  <a routerLink="/profile/{{ publication.user._id }}">
                    <div class="h5 m-0"> {{ publication.user.nickname }} </div>
                  </a>
                <div class="h7 text-muted">{{ publication.user.name + ' ' + publication.user.lastname }}</div>
              </div>
            </div>
            <div>
              <div class="btn btn-primary" *ngIf="publication.user._id == identity._id || imAdmin"
                (click)="deletePublication(publication._id)"><i class="fas fa-times"></i></div>
            </div>
          </div>
          {{ asdas }}
        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
            {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }} </div>

          <p class="card-text">
            {{ publication.text }}
          </p>
        </div>
      </div>
      <button class="btn btn-success mb-5" (click)="viewMorePublications()"
        *ngIf="!noMorePublications && total > items_per_page">Ver más
        publicaciones</button>
    </div>
    <div class="overlay col-sm-9 col-md-8 col-lg-5 d-flex justify-content-center p-0 bg-white" *ngIf="loading">
      <img class="loading m-auto" width="200" height="200" src="../../assets/loading.gif" alt="">
    </div>
    <div *ngIf="!arePublications && !loading" class="col-sm-9 col-md-8 col-lg-5 d-flex flex-column p-0">
      <h4 class="text-center m-3 alert alert-danger">No se han encontrado publicaciones</h4>
    </div>

    <div class="col-sm-9 col-lg-4 ml-md-auto ml-sm-auto" *ngIf="!loading">
      <div *ngFor="let group of groups">
        <div class="card mb-4 p-3">
          <div class="row">
            <div class="col-6">
              <div class="card-body p-1 d-flex align-items-center">
                <div>
                  <a routerLink="/group/{{ group._id }}">
                    <span class="mr-2">{{ group.name }}</span>
                  </a><br>
                  <span class="text-muted"><small>{{ group.category }}</small></span>
                  <p><small class="text-secondary">{{ (group.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <p><small>Límite de miembros: {{ group.nr_members }}</small></p>
              <p><small>Miembros: {{ group.members }}</small></p>
              <p><small>Fecha: {{ group.date_at }} </small><small> {{ group.hour }}</small></p>
            </div>
            <div class="col-12">
              <p class="m-0">Descripción:</p>
              <small>{{ group.description }}</small>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/groups">Ver todos los grupos</a>
    </div>
  </div>
