<app-logged-navbar></app-logged-navbar>
<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img src="{{ url + 'getimageuser/' + identity.image }}" *ngIf="identity.image" class="avatar" />
          <img src="../../assets/default-user.png" *ngIf="!identity.image" class="avatar">
          <div class="h5">{{ identity.nickname }}</div>
          <div class="h7 text-muted">Nombre : {{ identity.name }}</div>
          <div class="h7">Descripción: {{ identity.description }}</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">5.2342</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Following</div>
            <div class="h5">6758</div>
          </li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 gedf-main">

      <div class="publications">
        <div *ngFor="let publication of publications" class="item-publication">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4></h4>
            </div>
            <div class="publication-text pull-left">

            </div>
          </div>
        </div>
      </div>

      <div class="card gedf-card mb-4">
        <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm)">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                  aria-controls="posts" aria-selected="true">Publicación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                  aria-selected="false" href="#images">Imagen</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <div class="form-group">
                  <label class="sr-only" for="message">post</label>
                  <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control"
                    placeholder="¿Cómo te sientes hoy?" required></textarea>
                  <span *ngIf="!text.valid && text.touched">
                    El texto es obligatorio
                  </span>
                </div>

              </div>
              <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                <div class="form-group">
                  <div class="custom-file">
                    <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
                    <label class="custom-file-label" for="customFile">Subir imagen</label>
                  </div>
                </div>
                <div class="py-4"></div>
              </div>
            </div>
            <div class="btn-toolbar justify-content-between">
              <div class="btn-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card gedf-card mb-4" *ngFor="let publication of publications">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <a href="#">
                  <img src="{{ url + 'getimageuser/' + publication.user.image }}" *ngIf="publication.user.image"
                    width="100" class="avatar" height="100" alt="">
                  <img src="../../assets/default-user.png" class="avatar" *ngIf="!publication.user.image" width="100" height="100"
                    alt="">
                </a>
              </div>
              <div class="ml-2">
                <div class="h5 m-0"> {{ publication.user.nickname }} </div>
                <div class="h7 text-muted">{{ publication.user.name + ' ' + publication.user.lastname }}</div>
              </div>
            </div>
            <div>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                  <a class="dropdown-item" href="#">Eliminar</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }} </div>

          <p class="card-text">
            {{ publication.text }}
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
          <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
          <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
        </div>
      </div>
      <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore && total > items_per_page">Ver más publicaciones</button>
    </div>
    <div class="col-md-3">
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
