<app-logged-navbar></app-logged-navbar>
<div class="container fluid">
  <div class="row">
    <div class="col-4">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-title">
          {{ group.name }}
        </div>
        <div class="btn btn-primary" *ngIf="imAdmin" (click)="deleteGroup(group._id)">
          Eliminar grupo
        </div>
        <div class="card-text">
          <p class="text-muted">{{ group.author.nickname }} {{ group.category }}</p>
          <p>{{ group.members }}</p>
        </div>
        <div class="card-body">
          {{ group.description }}
          <div id="map"></div>
        </div>
      </div>
      <div *ngIf="group.members < group.nr_members">
        <button class="btn btn-success" (click)="groupFollow()">Unete al grupo</button>
        <button class="btn btn-danger" (click)="groupUnfollow()">Dejar de seguir al grupo</button>
      </div>
    </div>
  </div>
</div>
