<app-logged-navbar></app-logged-navbar>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <form #groupForm="ngForm" (ngSubmit)="onSubmit(groupForm)">
        <div class="row">
          <div class="col-6">
            <p>
              <label>Nombre</label>
              <input type="text" name="name" #name="ngModel" [(ngModel)]="group.name" class="form-control" required />
              <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio!
              </span>
            </p>
          </div>
          <div class="col-6">
            <p>
              <label>Categoría</label>
              <select name="category" #category="ngModel" [(ngModel)]="group.category" class="form-control">
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p>
              <label>Número de miembros</label>
              <input type="number" name="nr_members" #nr_members="ngModel" [(ngModel)]="group.nr_members"
                class="form-control" required />
              <span *ngIf="!nr_members.valid && nr_members.touched">
                El nombre es obligatorio!
              </span>
            </p>

          </div>
          <div class="col-6">
            <p>
              <label>Fecha</label>
              <input type="number" name="date_at" #date_at="ngModel" [(ngModel)]="group.date_at" class="form-control"
                required />
              <span *ngIf="!date_at.valid && date_at.touched">
                El nombre es obligatorio!
              </span>
            </p>
          </div>
        </div>
        <p>
          <label>Descripción</label>
          <textarea type="text" name="description" #description="ngModel" [(ngModel)]="group.description"
            class="form-control" required></textarea>
          <span *ngIf="!description.valid && description.touched">
            La descripción es obligatoria!
          </span>
        </p>


        <div id="map"></div>
        <input type="submit" value="Enviar" class="btn btn-primary mt-3 float-right" (click)="setLocation()"
          [disabled]="!groupForm.form.valid" />
      </form>

    </div>

  </div>
</div>
