<div class="container mt-5">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="m-auto border border-secondary rounded p-5">
    <h1 class="mb-4">Iniciar sesión</h1>
    <p>
      <label>Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
      <span *ngIf="!email.valid && email.touched">
        El correo no es válido!
      </span>
    </p>
    <p>
      <label>Password</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
        required />
      <span *ngIf="!password.valid && password.touched">
        La contraseña es obligatoria!
      </span>
    </p>
    <p>¿No tienes cuenta? <a routerLink="/register">regístrate</a></p>
    <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!loginForm.form.valid" />
    <div class="alert alert-danger mt-4" *ngIf="status == 'error'">
      El email o la contaseña es incorrecto
    </div>
  </form>
</div>
