#logo {
    text-decoration: none;
    font-size: 28px;
}

.landing-buttons {
    text-decoration: none;
    color: #fff;
}

#main {
    margin-bottom: 0;
    background-color: lightblue;
}

.display-4 {
    font-size: 32px;
    margin-bottom: 30px;
}

footer a {
    color: rgb(194, 191, 191);
}

footer {
    background-color: #45526e;
}
      
footer a {
    color: #fff;
}

footer hr {
   border-top: 2px solid rgba(0,0,0,.1)
}

footer .list-inline-item {
    width: 35px;
}

.interes:hover {
	text-decoration: none;
  	color: #9eb2d6;
}

.fab {
	font-size: 28px;
}

.fab:hover {
	text-decoration: none;
  	color: #9eb2d6;
}