<app-logged-navbar></app-logged-navbar>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
          aria-labelledby="v-pills-profile-tab">
          <div class="alert alert-success" *ngIf="status == 'success'">
            Se han actualizado tus datos correctamente!
          </div>

          <div class="alert alert-danger" *ngIf="status == 'error'">
            Ha ocurrido un error al actualizar los datos
          </div>
          <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Nombre
                  </div>
                  <div class="card-body">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Apellido
                  </div>
                  <div class="card-body">
                    <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Edad
                  </div>
                  <div class="card-body">
                    <input type="number" name="age" #age="ngModel" [(ngModel)]="user.age">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Género
                  </div>
                  <div class="card-body">
                    <select name="gender" #gender="ngModel" [(ngModel)]="user.gender" class="form-control">
                      <option>Masculino</option>
                      <option>Femenino</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Email
                  </div>
                  <div class="card-body">
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Contraseña
                  </div>
                  <div class="card-body">
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card border border-info mb-4">
                  <div class="card-header bg-info ">
                    Descripción
                  </div>
                  <div class="card-body">
                    <textarea type="text" class="w-100" name="description" #description="ngModel"
                      [(ngModel)]="user.description"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-100 text-center mt-2 mb-4" *ngIf="user.image">
              <img src="{{ url + 'getimageuser/' + user.image }}" class="border border-radius m-auto" width="200"
                height="200" />
            </div>
            <div class="card border border-info mb-4">
              <div class="card-header bg-info ">
                Imagen de perfil
              </div>
              <div class="card-body">
                <input type="file" name="file" (change)="fileChangeEvent($event)" placeholder="Subir imagen">
              </div>
            </div>
            <div class="card border border-info mb-4">
              <div class="card-header bg-info ">
                Intereses
              </div>
              <div class="card-body">
                <div *ngFor="let int of interests">
                </div>
                <button class="btn btn-primary" routerLink="/interests">Cambiar intereses</button>
              </div>
            </div>

            <input type="submit" value="Enviar" class="btn btn-success w-100 mb-4"
              [disabled]="!userEditForm.form.valid">
          </form>
          <div class="card border border-info mb-4">
            <div class="card-header bg-info ">
              Eliminar tu cuenta
            </div>
            <div class="card-body">
              <label>¿Seguro que quieres eliminar tu cuenta?</label><br>
              <button class="btn btn-danger w-25" (click)="deleteUser(userId)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
