<app-logged-navbar></app-logged-navbar>
<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h3 for="roomInput" class="mb-4 mt-4">Elige una sala para comenzar a chatear</h3>
      <div class="row">
        <div class="col-12 col-sm-8 p-sm-0">
          <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
            <option value="Off_topic">Off Topic</option>
            <option value="Arte">Arte</option>
            <option value="Ciencias">Ciencias</option>
          </select>
        </div>
        <div class="col-12 col-sm-4 mt-3 mt-sm-0">
          <button type="button" class="btn btn-primary" (click)="join()">Entrar a la sala</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mr-md-auto cont-textos border border-secondary p-3 rounded">
      <div class="col-12 mensajes">
        <div *ngFor="let item of messageArray">
          <div *ngIf="item.user == identity.nickname" class="d-flex mt-2 p-2 fondo-user round">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
          </div>
          <div *ngIf="item.user != identity.nickname" class="d-flex mt-2 p-2 fondo-otroUser round">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-4">
    <form #messageForm="ngForm">
      <div class="col-8 col-sm-6 p-0">
        <input type="text" class="form-control" [(ngModel)]="messageText">
      </div>
      <div class="col-4 col-sm-6">
        <button type="button" class="btn btn-success pull-right" (click)="sendMessage(messageForm)">Enviar</button>
      </div>
    </form>
  </div>
</div>
