<app-anon-navbar></app-anon-navbar>
<div class="container">
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Registro mal
  </div>
  
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label>Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
      <span *ngIf="!name.valid && name.touched">
        El nombre es obligatorio!
      </span>
    </p>
    <p>
      <label>Nickname</label>
      <input type="text" name="nickname" #nickname="ngModel" [(ngModel)]="user.nickname" class="form-control" required/>
      <span *ngIf="!nickname.valid && nickname.touched">
        El nick es obligatorio!
      </span>
    </p>
    <p>
      <label>Edad</label>
      <input type="number" name="age" #age="ngModel" [(ngModel)]="user.age" class="form-control" required/>
      <span *ngIf="!age.valid && age.touched">
        La edad no es válida!
      </span>
    </p>
    <p>
      <label>Género</label>
      <select name="gender" #gender="ngModel" [(ngModel)]="user.gender" class="form-control">
        <option>Masculino</option>
        <option>Femenino</option>
      </select>
    </p>
    <p>
      <label>Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
      <span *ngIf="!email.valid && email.touched">
        El correo no es válido!
      </span>
    </p>
    <p>
      <label>Password</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
      <span *ngIf="!password.valid && password.touched">
        La contraseña es obligatoria!
      </span>
    </p>
    <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!registerForm.form.valid" />
  </form>
</div>